<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>로그인</title>

    <script src="../docs/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../docs/js/examples-base.js"></script>
    <script type="text/javascript" src="../docs/js/highlight.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../docs/css/examples-base.css" />

</head>

<body>
    <div id="wrap" class="section">
        <h2>login</h2>
            <form method="post" action="/server.js" id="login"> 
            <table class="table">
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id="loginId" required></td>
                </tr>
                <tr>
                    <td>PW</td>
                    <td><input type="password" name="pw" id="loginPw" required></td>
                </tr>
                <tr>
                    <td><input type="submit" value="로그인"></td>
                    <!-- <td><input type="submit" onclick="document.getElementById(login).submit();" value="로그인"></td> -->
                </tr>
    
            </table>
            </form>
    </div>
</body>

</html>