<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>EXIT</title>
    <script src="../docs/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../docs/js/examples-base.js"></script>
    <script type="text/javascript" src="../docs/js/highlight.min.js"></script>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk&amp;submodules=panorama"></script>
    <link rel="stylesheet" type="text/css" href="../docs/css/examples-base.css" />
    <script>
        var HOME_PATH = '../docs';
    </script>
</head>

<body>

    <!-- @category Overlay/Infowindow -->

    <div id="wrap" class="section" style="display:inline-block;">
        <img alt="exit 로고" src="../docs/img/logo.jpg" height="200px">
        <p>EXIT는 지역민들을 위한 소셜 네트워크 서비스를 제공합니다.</p>
        <div id="user">
            <a href="/login"><button>로그인</button></a>
            <a href="/signup"><button>회원가입</button></a>
        </div>
        <div id="map" style="width:1000px;height:500px;"></div>
    </div>
    <iframe src="/read?lat=35.176117&lon=126.905834" frameborder="1" class="iframe" width=400px height=500px></iframe>
    ////position.ejs 참고해서 아래를 복붙한 post방식으로
    axios.post("/sign/read",{
    latitude : lat,
    longitude : lng,
    }).then(res =>{
    console.log('upload board');
    }).catch(function (error) {
    alert(error);
    }); latitude 랑 longitude body에 담아 보내주세요 작업하고 이 글 지워주세여
    <script>
        let map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(35.176117, 126.905834),
            zoom: 10
        });

        let marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(35.176117, 126.905834),
            map: map
        });

        // let contents = [
        //     '<div class="iw_inner">',
        //     '<h2>전남대학교</h2>',
        //     '<p>게시글을 보여줍니다.</p>'
        // ].join('');

        // let infowindow = new naver.maps.InfoWindow({
        //     content: contents,
        //     borderWidth: 1,
        //     backgroundColor: "#eee",
        //     anchorColor: "#eee",

        // });

        naver.maps.Event.addListener(marker, "click", function (e) {
            if (infowindow.getMap()) {
                infowindow.close();
            } else {
                infowindow.open(map, marker);
            }
        });

        fetch('/api', {
            method: 'get'
        }).then((res) => {
            res.json().then(va =>{
                if(va){
                    document.getElementById("user").innerHTML = '<a href="/write"><button>글쓰기</button></a><a href="/"><button>로그아웃</button></a>'
                }
            })
        })
    </script>

</body>

</html>