<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>EXIT</title>
        <script src="/static/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="/static/js/examples-base.js"></script>
        <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=83bfuniegk&amp;submodules=panorama"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
            <a class="navbar-brand" href="/"><img alt="exit 로고" src="/static/img/logo.jpg" height="60px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse"></div>
        </nav>
    </header>

    <div id="wrap" class="section">
        <h2>위치 선택하기</h2>
        <h4>글을 작성하고 싶은 위치를 선택하세요.</h4>
        <div id="map" style="width:100%;height:600px;"></div>
    </div>
    <script>
        let map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(35.176117, 126.905834),
            zoom: 30,
            mapTypeId: naver.maps.MapTypeId.NORMAL
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.3595704, 127.105399),
            map: map
        });

        var infowindow = new naver.maps.InfoWindow({
            backgroundColor: "#696969",
            anchorColor: "#696969"
        });

    
        function onSuccessGeolocation(position) {
            var location = new naver.maps.LatLng(position.coords.latitude,
                position.coords.longitude);

            map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
            map.setZoom(13); // 지도의 줌 레벨을 변경합니다.

            marker.setPosition(location);

            console.log('Coordinates: ', location);

            let circle = new naver.maps.Circle({
                strokeColor: '#0000ff',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000ff',
                fillOpacity: 0.35,
                center: location,
                radius: 100,
                zIndex: 100,
                clickable: true,
                map: map
            });
            naver.maps.Event.addListener(circle, "click", function (e) {
                let lat = e.coord.lat(); //클릭한 위치로 위도 변경
                let lng = e.coord.lng(); //클릭한 위치로 경도 변경
                let location = new naver.maps.LatLng(lat, lng);
                
                console.log(e.coord.lat() + ',' + e.coord.lng());
                infowindow.setPosition(location);
                infowindow.setContent('<div class="iw_inner"><h2>글을 작성하세요.</h2><textarea id="text" rows="7" cols="60"></textarea><br><button id="write" type="submit">저장</button></div>');
                infowindow.open(map);
                document.getElementById("write").addEventListener("click",()=>{
                   
                    axios.post("/write",{ 
                        latitude : lat,
                        longitude : lng,
                        nowLongitude : e.coord.lng(),
                        nowLatitude : e.coord.lat(),
                        text : document.getElementById('text').value
                    }).then(res =>{
                        alert("등록 성공");  
                        window.location.href = '/'                      
                    }).catch(function (error) {
                        alert(error);
                      });
                })
            })
        }

        function onErrorGeolocation() {
            var center = map.getCenter();

            infowindow.setContent('<div style="padding:20px;">' +
                '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>' + "latitude: " + center.lat() + "<br />longitude: " + center.lng() + '</div>');

            infowindow.open(map, center);
        }

        $(window).on("load", function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
            } else {
                var center = map.getCenter();
                infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5></div>');
                infowindow.open(map, center);
            }
        });
        fetch('/api', {
            method: 'get'
        }).then((res) => {
            res.json().then(va => {
                console.log(va)
                if (va.result) {
                    document.getElementById("navbarCollapse").innerHTML = '<ul class="navbar-nav mr-auto"><li class="nav-item"><a class="nav-link" href="/write">글쓰기<span class="sr-only">(current)</span></a></li><li class="nav-item"><a class="nav-link" href="/sign/logout">Log Out</a></li></ul>'
                } else {
                    document.getElementById("navbarCollapse").innerHTML =
                        '<ul class="navbar-nav mr-auto"><li class="nav-item"><a class="nav-link" href="/sign/login">Sign In <span class="sr-only">(current)<span></a></li><li class="nav-item"><a class="nav-link" href="/sign/signup">Sign Up</a></li></ul>'
                }
            })
        })


    </script>
</body>

</html>